*{margin: 0; padding: 0; box-sizing: border-box;}/*resetando*/


.header{
    background-color: #eb2629;
    box-shadow: 1px 1px 4px #6e030f;
    height: 56px;
    padding: 15px;
}

.header,
.nagivation_header{
    display: flex;
    color: #fff;
    flex-direction: row;
    align-items: center;
}

.nagivation_header a{
    color: #fff;
    transition: 1s;
    font-weight: bold;
    opacity: 0.9;
}

.nagivation_header{
    gap: 3em;
    text-align: center;
}

/*----------------------------Javacript-----------------------*/

input{
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 10px;
}

button{
    background-color: #6e030f;
    border: none;
    padding: 7px;
    width: 10%;
    border-radius: 10px;
    color: #fff;
    font-size: 10px;
}

.cima{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}

.meio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

}

.baixo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6e030f;

}




























/*----------------------------------------------------Rodapé--------------------------------------------------------------*/
section{
    width: 100%;
}


body{
    font-family: 'Segoe UI';
    font-weight: 400;
    background-color: #020e0a37;
    width: 100%;
}

.footer{
    padding: 5PX 0;
    background-color: #fff;
    width: 100%;
    position: fixed;
    bottom: 0%;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d 

}

.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover{
    opacity: 0.9; 
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;    
}

.footer ul li{
    display: inline-block;
    padding: 0 15PX;

}

.footer ul li a:hover{
    opacity: 1;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;   
}